<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="./css/about.css"/>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/foot.css">
    <link rel="icon" type="images/png" href="./img/favicon.webp">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="main_div">
        {{>navbar}}

        <div class="container">
            <div class="about">
                <h2>About Us</h2>
                <p>
                    Welcome to Women Empowerment, a leading organization dedicated to
                    uplifting and supporting women in India. Our mission is to create a
                    more inclusive and equal society by empowering women through
                    education, advocacy, and suppo
                </p>
                <p>
                    With a focus on promoting gender equality and empowering women to
                    reach their full potential, we strive to make a positive impact on the
                    lives of women across India. Join us in our journey towards a more
                    empowered and equal future for all women.
                </p>
            </div>
        </div>

        <div class="founders">
            <div class="card">
                <img src="./img/founder.webp" alt="" height="" />
                <div class="content">
                    <h2>Mritunjay</h2>
                    <p>
                        Mritunjay is an experienced and talented communicator with a passion
                        for gender eequality
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="./img/founder.webp" alt="" height="" />
                <div class="content">
                    <h2>Mritunjay</h2>
                    <p>
                        Mritunjay is an experienced and talented communicator with a passion
                        for gender eequality
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="./img/founder.webp" alt="" height="" />
                <div class="content">
                    <h2>Mritunjay</h2>
                    <p>
                        Mritunjay is an experienced and talented communicator with a passion
                        for gender eequality
                    </p>
                </div>
            </div>
        </div>

        <div class="women-biz">
            <h1>Empowering Women in Business</h1>
            <div class="resources">
                <div class="res-card">
                    <img src="./img/business.webp" alt="" />
                    <div class="res-content">
                        <h3>Gender Equality Training</h3>
                        <p>
                            Gain the skills and knowledge needed to become a successful leader
                            in the business world.
                        </p>
                        <button>More Info</button>
                    </div>
                </div>
                <div class="res-card">
                    <img src="./img/business.webp" alt="" />
                    <div class="res-content">
                        <h3>Gender Equality Training</h3>
                        <p>
                            Gain the skills and knowledge needed to become a successful leader
                            in the business world.
                        </p>
                        <button>More Info</button>
                    </div>
                </div>
                <div class="res-card">
                    <img src="./img/business.webp" alt="" />
                    <div class="res-content">
                        <h3>Gender Equality Training</h3>
                        <p>
                            Gain the skills and knowledge needed to become a successful leader
                            in the business world.
                        </p>
                        <button>More Info</button>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body>

</html>