<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="main_div">
        <!-- nav bar -->
        <div class="nav_bar">
            <div class="logo">
                <a href="home.html">
                    <img src="./img/logo.png" alt="logo">
                </a>
            </div>
            <div class="items">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contents</a></li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">blogs</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="/About">About</a></li>
                    {{!-- <li>
                        <div class="input_div">
                            <input type="text" placeholder="search here...">
                            <input type="submit" value="search">
                        </div>
                    </li> --}}
                    <li>
                        <div class="profile">
                            <img src="./img/user.jpg" alt="user_img">
                        </div>
                        <ul>
                            <li>profile</li>
                            <li>sign out</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <!-- body starts from here -->

        <!-- hero bg section -->
        <div class="bg_div" style="background:  linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,.6)),url('./img/herobg.jpg');">
            <div class="hero_head">
                <h1><span>W</span>omen Rising</h1>
                <h3>Your voice matters. Speak up, stand tall, and let your words inspire change. You have the power to make a difference.</h3>
            </div>
            <div class="hero_btn">
                <a href="">
                    <button>Contribute</button>
                </a>
            </div>
        </div>

        <!-- our inspiration -->
        <div class="inspiration">
            <div class="grid_head">
                <h2><u>our inspiration & Stories</u></h2>
            </div>
            <div class="tag_line">
                <h3>Helping women never doubt that they are Valuable & Powerful...</h3>
            </div>
            <div class="grid_img">
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/herobg.jpg" alt="">
                    <div class="text_field">
                        <p>lorem ipsum</p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quibusdam corporis tenetur similique, obcaecati omnis architecto! Ipsum blanditiis quae, doloribus et magnam voluptates aperiam quam ut quibusdam illum distinctio vero.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- community forum -->
        <div class="comm_form">
            <div class="box">
                <div class="s_box">
                    <p>Ready to make your voice heard? Share your thoughts, experiences, and ideas on women empowerment in our dedicated post section. Your story has the power to inspire and uplift others.</p>
                </div>
                <div class="s_box">
                    <div class="heading_box">
                        <h2>share your thoughts</h2>
                    </div>
                    <hr>
                    <div class="input_div">
                        <input type="text" placeholder="name">
                        <textarea id="" cols="30" rows="10" placeholder="say something..."></textarea>
                        <button class="btn">post</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------- -->

        <!-- blog -->
        <!-- <div class="blogs"></div> -->




        <!-- footer -->
        <div class="footer" style="margin-top: 1px;">
            <div class="card">
                <div class="what">
                    <div class="heading_foot">
                        <h2>what we do !!!</h2>
                    </div>
                    <div class="all_cont">
                        <div class="call common">
                            <ul>
                                <li>Advancing women’s human rights</li>
                                <li>Healthcare, rehabilitation & awareness</li>
                                <li>Building feminist leadership</li>
                                <li>Expanding reproductive freedoms</li>
                                <li>Education programmes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="address">
                    <div class="heading_foot">
                        <h2>About us</h2>
                    </div>
                    <div class="all_cont">
                        <div class="common">
                            <span>We are dedicated to empowering women from all walks of life, providing them with the tools, resources, and support needed to thrive. Our mission is to foster a supportive environment where women can grow personally and professionally.</span>
                        </div>
                        <div class="common">
                            <div class="input_div">
                                <input type="text" name="" id="" placeholder="email">
                                <button>subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="contact">
                    <div class="heading_foot">
                        <h2>contact us</h2>
                    </div>
                    <div class="all_cont">
                        <div class="call common">
                            <i class="fa-solid fa-phone"></i>
                            <span>731925647</span>
                        </div>
                        <div class="email common">
                            <i class="fa-solid fa-envelope"></i>
                            <span>xyz@gmail.com</span>
                        </div>
                        <div class="common social">
                            <a href="">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/slider.js"></script>
</body>

</html>