<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <link rel="stylesheet" href="./css/session.css">
    <link rel="icon" type="images/png" href="./img/b1.png">
</head>
<body>
    <div class="main_div">
        <div class="main_box">
            <div class="box">
                <div class="content">
                    <form action="/login" method="POST">
                        <div class="heading">
                            <h2>sign in</h2>
                        </div>
                        <div class="alert_msg">
                            <p></p>
                        </div>
                        <div class="grup_div">
                            <input type="email" name="Email" placeholder="Email" autocomplete="off" required  >
                        </div>
                        <div class="grup_div">
                            <input type="password" name="Password" placeholder="Password" autocomplete="off" required >
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" class="checkbox">remember me
                        </div>
                        <input type="submit" value="submit">
                        <p class="forgot"><a href="">forgot password?</a></p>
                        <p>Don't have account? <a href="">signup</a></p>
                    </form>
                </div>
            </div>
            <div class="bgbox">
                <img src="./img/bg1.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>