<div class="footer">
            <div class="card">
                <div class="what">
                    <div class="heading_foot">
                        <h2>what we do !!!</h2>
                    </div>
                    <div class="all_cont">
                        <div class="call common">
                            <ul>
                                <li>Advancing women’s human rights</li>
                                <li>Healthcare, rehabilitation & awareness</li>
                                <li>Building feminist leadership</li>
                                <li>Expanding reproductive freedoms</li>
                                <li>Education programmes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="address">
                    <div class="heading_foot">
                        <h2>About us</h2>
                    </div>
                    <div class="all_cont">
                        <div class="common">
                            <span>We are dedicated to empowering women from all walks of life, providing them with the tools, resources, and support needed to thrive. Our mission is to foster a supportive environment where women can grow personally and professionally.</span>
                        </div>
                        <div class="common">
                            <div class="input_div">
                                <input type="text" name="" id="" placeholder="email">
                                <button>subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="contact">
                    <div class="heading_foot">
                        <h2>contact us</h2>
                    </div>
                    <div class="all_cont">
                        <div class="call common">
                            <i class="fa-solid fa-phone"></i>
                            <span>731925647</span>
                        </div>
                        <div class="email common">
                            <i class="fa-solid fa-envelope"></i>
                            <span>xyz@gmail.com</span>
                        </div>
                        <div class="common social">
                            <a href="">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>