<div class="nav_bar">
            <div class="logo">
                <a href="/">
                    <img src="./img/logo.png" alt="logo">
                </a>
            </div>
            <div class="items">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/seecontest">Contents</a></li>
                    <li><a href="/update">Updates</a></li>
                    <li><a href="/seeblogs">blogs</a></li>
                    <li><a href="/Community">Community</a></li>
                    <li><a href="/contact">Contacts</a></li>
                    <li><a href="/About">about</a></li>
                    {{!-- <li>
                        <div class="profile">
                            <img src="./img/user.jpg" alt="user_img">
                        </div>
                        <ul>
                            <li>profile</li>
                            <li>sign out</li>
                        </ul>
                    </li> --}}
                    {{#if user}}
                    <li>
                        <div class="profile1">
                            <img src='./uploads/{{pimg}}' alt="user_img">
                        </div>
                        <ul>
                            <a href="/profile"><li>profile</li></a>
                            {{!-- <a href="#"><li>sign out</li></a> --}}
                            <a href="/logout"><li>sign out</li></a>
                        </ul>
                    </li>
                    {{else}}
                    <li><a href="/signin">Signin</a></li>
                    <li><a href="/signup">Signup</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>