<div class="nav_bar">
    <div class="logo">
        <a href="home.html">
            <img src="./img/logo.png" alt="logo">
        </a>
    </div>
    <div class="items">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contents</a></li>
            <li><a href="#">Updates</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contacts</a></li>
            <li>
                <div class="input_div">
                    <input type="text" placeholder="search here...">
                    <input type="submit" value="search">
                </div>
            </li>
            <li>
                <div class="profile">
                    <img src="./img/user.jpg" alt="user_img">
                </div>
                <ul>
                    <li>profile</li>
                    <li>sign out</li>
                </ul>
            </li>
        </ul>
    </div>
</div>