<div class="blog">
        <div class="new_blog">
            <div class="blog_pimg"><img src='./uploads/{{pimg}}' alt="user_img">{{user}}</div>
            <form action="/addblog" method="post">
                <div>
                    <textarea name="blogcontent" id="" cols="60" maxlength="1000" placeholder="Write your in 1000 words" rows="10"" style="width: 99%;"></textarea>
                </div>
                <div>
                    <input type="submit" value="send" name="submit" id="inp">
                </div>
            </form>
        </div>
    </div>