<div class="blog">
    <div class="new_blog">
        <div class="blog_pimg"><img src='./uploads/{{pimg}}' alt="user_img"><span class="uname">{{user}}</span></div>
        <form action="/addblog" method="post">
            <textarea name="blogcontent" id="" cols="60" maxlength="1000" placeholder="Write your in 1000 words"
                rows="10"></textarea>
            <input type="submit" value="send" name="submit" id="inp">
        </form>
    </div>
</div>