* {
  margin: 0px;
  padding: 0px;
}
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #a5a5a5; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners */
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.profile {
  display: flex;
  justify-content: space-around;
  width: 58vw;
  margin-left: 21vw;
  margin-top: 3vh;
  /* border: 2px solid #ddd; */
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); */
}
.left {
  display: flex;
  align-items: center;
}

.profile img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 35px;
}

.right {
  margin: 40px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.contact {
  margin-top: 10px;
}

.contact h4 {
  margin-bottom: 10px;
}

.contact div {
  margin-bottom: 5px;
}

.contact span {
  font-weight: 500;
}

/* Add this CSS to align the spans within the contact div */
.contact div {
  margin-bottom: 5px; /* Keep the margin for spacing */
  align-items: center; /* Align items vertically */
}

.contact span {
  font-weight: 500; /* Keep the font weight */
  margin-left: 5px; /* Add margin to separate the text */
}

.edit-profile {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  right: 20px;
  bottom: 40px
}
.edit-profile button {
  padding: 4px 16px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #388e3c;
}

#edit {
  background-color: #4a8dbe;
  border-radius: 5px;
}
#add-story {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.posts {
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs {
  height: 100vh;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(218, 216, 216);
  border-radius: 5px;
  width: 54vw;
  margin-left: 23vw;
}
.profile-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 500px;
}
.name {
  padding-top: 10px;
  font-size: 24px;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}
.story {
  margin: 20px;
  margin-top: 15px;
  border-radius: 3px;
  height: 200px;
  padding: 25px;
  font-size: 18px;
  overflow-y: auto;
}
