@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
}
body
{
    overflow-x: hidden;
}
.container{
    height: 70vh;
    background-color: #0f0e11;
    width: 100vw;
    display: flex;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    margin: auto;
    text-align: center;
    gap: 2rem;
}
.about h2{
    font-size: 36px;
}
.about p{
    font-size: 20px;
}

.founders{
    background-color: #7096ff;
    height: 54vh;
    display: flex;
    justify-content: space-evenly;
    /* gap: 2vw; */
}
.founders .card img{
    min-height: 220px;
    width: 28vw;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    filter: brightness(.4);
}
.founders .card{
    width: 28vw;
    display: flex;
    align-items: center;
}
.founders .card .content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    margin: 0px 20px;
    text-align: center;
    z-index: 2;
    gap: 5px;
}

/*----------------------------------------*/

.women-biz{
    height: 84vh;
    background-color: #0f0e11;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5vh;
}
.women-biz h1{
    font-size: 40px;
}

.women-biz .resources{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 54vh;
    /* border: 2px solid blue; */
}
.women-biz .resources .res-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.women-biz .resources .res-card img{
    min-height: 220px;
    width: 30vw;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    filter: brightness(.4);
}

.women-biz .resources .res-card .res-content{
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    margin: 0px 40px;
    text-align: center;
    z-index: 2;
    gap: 12px;
    position: relative;
    text-align: center;
    top: 80px;
}

.women-biz .resources .res-content h3{
    font-size: 24px;
}
.women-biz .resources .res-content p{
    font-size: 18px;
}

.women-biz .resources .res-content button{
    align-self: center;
    width: 100px;
    background-color: #7096ff;
    border-radius: 10px;
    border: transparent;
    padding: 5px;
}
















@media (max-width: 1250px) {
    .about{
        width: 80%;
        gap: 2.5rem;
    }
    .founders{
        height: 70vh;
    }
    .founders .card img{
        min-height: 300px;
        filter: brightness(.3);
    }

    .women-biz{
        height: 90vh;
    }
    .women-biz h1{
        font-size: 36px;
    }
    .women-biz .resources .res-card img{
        min-height: 300px;
        width: 32vw;
    }
    
    .women-biz .resources .res-content{
        top: 80px;
    }
    
    .women-biz .resources .res-content h3{
        font-size: 20px;
    }
    .women-biz .resources .res-content p{
        font-size: 16px;
    }    
}

@media (max-width: 1000px) {
    .container{
        height: 90vh;
        background-color: #0f0e11;
        width: 100vw;
        display: flex;
    }
    .about{
        width: 90%;
    }
    
}
