* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
/* .main_div {
    width: 100%;
    height: 100vh;
} */
/* .container{
    margin-top: 50px;
} */