@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
header h1{   
    font-weight: 500;
}

.container .winners{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}
.container .winners img{
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.about-contest{
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    gap: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;

}
.about-contest h2{
    font-weight: 500;
    font-size: 28px;
}
.about-contest p{
    font-size: 18px;
    padding: 10px;
}

.ccc {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.ccc:hover {
    background-color: #0056b3;
}

/* Form Section Styles */
.form-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 500px; /* Adjust width as needed */
  }
  
  .form-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: bold;
    width: 150px; /* Adjust label width as needed */
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  select,
  textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .hear-about-options select {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contestButton{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
  }
  
  #contestButton:hover {
    background-color: #0056b3;
  }
  