@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --newsWidth : 70vw;
    --ImageWidth : 200px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar
{
    width: 10px;
}
body{
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: auto;
}
.news{
    height:200px;
    width: 70vw;
    margin: 2vh auto;
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    cursor: pointer;
    justify-content: space-between;
}
.news-content{
    width: 80%;
}
.news .news-image{
    width: 200px;
    height: 110px;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    margin-right: 0.6vw;
    object-fit:fill;
}
.source{
    color: #CC0000;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 6px;
    margin: 2px;
}
.news-title{
    margin: 0 10px;
    margin-bottom: 16px;
    font-size: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight:600;
}
.content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    margin: 0 12px;
    font-weight: 500;
    width: var(calc((--newsWidth) - (--ImageWidth) + 40px));
}